mixin cardAdvantage(cardAdvantagePosition, icon, cardAdvantageTitleOne, cardAdvantageTitleTwo, cardAdvantageTextPosition) 
  .card-advantage(class=cardAdvantagePosition)
    .card-advantage__box-picture
      span.card-advantage__infographics(class=icon)
    .card-advantage__box-text
      .card-advantage__title 
        span.card-advantage__title_position #{cardAdvantageTitleOne}
        span.card-advantage__title_position #{cardAdvantageTitleTwo}
      .card-advantage__txt(class=cardAdvantageTextPosition) Enim ad minim veniam, quis nostrud exercitation toui ullamcomi laboris nisi ut aliquip ex ea com.